.projects-section {
    padding: 80px 0;
    background: #efe2d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  
  .projects-section h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #4a4a4a;
    margin-bottom: 20px;
    font-weight: bold;
    margin-top: 1.4em;
  }


.projects-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    width: 100%;
    max-width: 1400px;
}

.project-card {
background: #fafafa;
box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px rgba(255, 255, 255, 0.7);
border-radius: 16px;
padding: 20px;
width: 400px;
min-height: 450px;  /* Ensure consistent height for all cards */
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;  /* Pushes content to the top and bottom */
transition: transform 0.3s, box-shadow 0.3s;
border: 3px dashed rgb(205, 143, 190);
}

.project-card:hover {
transform: translateY(-5px);
box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.15), -6px -6px 12px rgba(255, 255, 255, 0.7);
}

.project-logo {
width: 150px;
height: 150px;
border-radius: 100px;
overflow: hidden;
background-color: #fff;
display: flex;
justify-content: center;
align-items: center;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
margin-bottom: 15px;
}

.project-logo img {
width: 100%;
height: 100%;
object-fit: contain;
}

.project-card h3 {
font-size: 1.4rem;
color: #333;
margin-bottom: 20px;
}

.project-card .description {
font-size: 1rem;
color: #666;
text-align: center;
margin-bottom: 25px;
}

.features {
flex-grow: 1;  /* Allows the feature list to take up remaining space */
width: 100%;
padding-left: 20px;
text-align: left;
margin-bottom: 15px;
}

.features li {
font-size: 0.95rem;
color: #555;
margin-bottom: 8px;
}

.github-link {
background-color: #4a4a4a;
color: #fff;
padding: 10px 20px;
border-radius: 8px;
text-decoration: none;
display: inline-flex;
align-items: center;
gap: 8px;
transition: background-color 0.3s;
align-self: flex-end;  /* Aligns the button to the bottom right */
}

.github-link:hover {
background-color: #333;
}

.github-icon {
font-size: 1.2rem;
}
