.home {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #e7b87b, #f1eef1);
  padding: 20px;
}

.home-container {
  display: flex;
  width: 80%;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.image-section {
  flex: 1;
  text-align: center;
}

.profile-img {
  width: 100%;
  max-width: 350px;
  border-radius: 50%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border: 5px dashed #fff;
  padding: 9px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-img:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.intro-section {
  flex: 1;
  padding-left: 30px;
}

.intro-section h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.4em;
}

.intro-section p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 1.7em;
}

.about-btn {
  padding: 12px 25px;
  font-size: 1.2rem;
  background-color: #d28949;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}

.about-btn:hover {
  background-color: #d1a427;
}

/* ===== Media Query for Mobile (768px and below) ===== */
@media (max-width: 768px) {
  .home-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .profile-img {
    max-width: 225px;
    margin-bottom: 5px;
  }

  .intro-section {
    padding-left: 0;
    text-align: center;
  }

  .intro-section h1 {
    font-size: 2.2rem;
    margin-bottom: 0.4em;
  }

  .intro-section p {
    font-size: 1rem;
    margin-bottom: 1.9em;
  }

  .about-btn {
    padding: 10px 20px;
    font-size: 1.2rem;
  }
}
